.footer {
  background-color: #4E4E4E;
  padding: 0;
  height: 71px;
  width: 100%;
}

.footer-icons {
  display: flex;
  height: 50%;
  min-width: 60px;
  justify-content: space-between;
  align-items: center;
}

.footer-icons i {
  font-size: 25px;
  color: white;
}

@media (min-width: 320px) {
  .footer .container {
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
  }
}

@media (min-width: 1400px) {
  .footer .container {
    flex-direction: row;
  }
}