.offer {
  background-color: #405D78;
}

.offer .container {
  position: relative;
}

.offer h1 {
  color: white;
  margin-bottom: 80px;
  text-align: center;
}

.offer-box-wrapper {
  width: 720px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.offer-box {
  position: relative;
  width: 31%;
  padding-bottom: 31%;
  margin-bottom: 3.5%;
  background-color: white;
  transition: 0.5s;
}

.offer-box-content {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.offer .container i {
  position: absolute;
  z-index: 1;
  top: -7px;
  left: 110px;
  color: #E07A64;
}

.offer-box:hover {
  transform: scale(1.05);
}

@media (min-width: 320px) {
  .offer-box-wrapper {
    align-items: center;
  }
  .offer-box:nth-of-type(3n) {
    margin-right: 0px;
  }
  .offer .container i {
    display: none;
  }
}

@media (min-width: 1400px) {
  .offer-box-wrapper {
    flex-direction: row;
  }
  .offer-box {
    margin-right: 3.5%;
  }
  .offer .container i {
    display: initial;
  }
}